@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
*{box-sizing: border-box;}

/* Extra small devices (phones, 600px and down) */

html {
  background-color: #F7BF70;
  background: url("../Pics/Banner-Final.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

body {
  min-height: 100vh;
  /* background-posit/ion: 50% 0%; */
  font-family: 'open sans condensed', sans-serif;
  background-color: rgba(0,0,0,0.6);
  color: #000;
  letter-spacing: 1.5px;
}

.profile-pic{
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  /* box-shadow:0px 0px 5px 3px rgba(251, 0, 37, 1),
             0px 0px 1px 9px rgba(181, 0, 251, 1),
             0px 0px 0.5px 11px rgba(255, 255, 255, 1); */
  filter:drop-shadow(5px 5px 5px rgba(0, 0, 0, 1));
}

/* .twitchplayer{
  height:150%;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.logos{
  width: 50%;
  height: 100%;
  border-radius: 10px;
  /* filter:drop-shadow(0px 0px 2px rgba(8,8,8, 1))
         drop-shadow(0px 0px 3px rgba(8,8,8, 1))
         drop-shadow(0px 0px 4px rgba(8,8,8, 1))
         drop-shadow(0px 0px 5px rgba(8,8,8, 1))
         drop-shadow(0px 0px 1px rgba(181, 0, 251, 1)); */
  filter:drop-shadow(2px 2px 3px rgba(8,8,8, 1));
}
figcaption {
  font-size: 24px;
  border-radius: 10px;
  color: white;
  text-shadow: 2px 2px 1px black;
  filter: drop-shadow(2px 2px 3px rgba(8,8,8, 1));
}
img{
  transition: all .2s ease-in-out;
}

img:hover{
  transform: scale(1.2);
}

.col-small {
  max-height: 2%;
}

footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  /* background-color: rgba(236, 160, 91, 0.3); */
}

i{
  padding: 2px;
  color: rgba(255,255,255,0.6);
  filter:drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));
}
i:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.2);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .profile-pic{
    width: 150px;
    height: 150px;
  }

  .logos{
    width: 35%;
    height: 100%;
  }
  /* .twitchplayer{
    height:90%;
  } */

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .logos{
    width: 25%;
    height: 100%;
  }
}
